.controlPanel {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: #fff;
   padding: 3px;


   .formatActions {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;

      .formatActionButton {
         background-color: #d6d6d6;
      }

      .formatActionButtonActivated{
         background-color: red;
      }
   }
}
